<p data-test-id="video_views">
  Views: <%= @video_views %>
</p>
<p data-test-id="video_likes">
  Likes: <%= @video_likes %>
</p>
<p data-test-id="video_dislikes">
  Dislikes: <%= @video_dislikes %>
</p>
<p data-test-id="video_favorites">
  Favourites: <%= @video_favorites %>  
</p>
<p data-test-id="video_comments">
  Comments: <%= @video_comments %>
</p>